.header{
    padding: 15px 20px;
    background: #222;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    display: flex;
    gap: 15px;
}
.nav a {
    color: white;
    text-decoration: none;
}

.nav a:hover{
    text-decoration: underline;
}
